nav.navbar {
  background-color: var(--dark-green);
  padding-block: 1.5rem;
  transition: 0.5s padding-block;
  -webkit-transition: 0.5s padding-block;
  -moz-transition: 0.5s padding-block;
  -ms-transition: 0.5s padding-block;
  -o-transition: 0.5s padding-block;
}

li.nav-item.active {
  background-color: var(--green);

  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  transition: 0.3s background-color;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -ms-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
}
